* { box-sizing: border-box; }

body{
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: black;
    /* background: #769FCD; */
    overflow-x: hidden;
}

/* .section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
} */
.color1{
    background: #F7FBFC;
}

.color2{
    background: #D6E6F2;
}

.color3{
    background: #B9D7EA;

}

.color4{
    background: #769FCD;

}

.font-color1{
    color: #FF5154;
}

.font-color2{
    color: #715AFF;
}

.font-color3{
    color: #000000;
}

.spacer{
    aspect-ratio: 960/400;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image: url('./layered-waves-haikei (4).svg');
}
.layer2{
    background-image: url('./layered-waves-haikei (3).svg');
}

.bubble::after{
    content: ''; 
    border-radius: 100% / 0 0 40% 40%;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
    background-color: #D6E6F2;
    z-index: -1;

}

.topWaves{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
}

.content-area{
    /* border: 4px solid green; */
    width: 1245px; 
    /* width: 1651px; */
}

.navigation{
    position: relative;
    width: 410px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #FFFFFF;
    position: fixed;
    /* z-index: 5; */
    transition: all 0.5s;
    margin-top: 5px;
}

.navigationTrans{
    position: relative;
    width: 410px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: transparent;
    position: fixed;
    z-index: 1;
    transition: all 0.5s;
    outline: 1px solid blue;
    /* border-bottom: none; */
    margin-top: 5px;
}

.icon ion-icon{
    z-index: 10;
    color: blue;
}

.navigation ul{
    display: flex;
    width: 100%;
}

.navigation ul li{
    list-style: none;
    position: relative;
    width: 87px;
    height: 60px;
    z-index: 1; 
}

.navigation ul li a {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    /* right: 8px; */
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    transition: 0.5s;
    color: #222327;

}

.navigation ul li.active a .icon{
    transform: translateY(32px); 
    color: #2196f3;

}

.navigation ul li a .text{
    position: absolute;
    background: #2196f3;
    color: #fff;
    padding: 2px 7px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 0.75em; 
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0; 
    transform: translateY(15px); 

}

.navigation ul li.active a .text{
    transform: translateY(4px); 
    opacity: 1;

}

.indicator{
    position: absolute;
    top: 5px;
    width: 87px;
    height: 87px; 
    background: #FFFFFF;
    border-radius: 50%;
    transition: 0.5s;
}

.indicatorTrans{
    position: absolute;
    top: 5px;
    width: 87px;
    height: 87px; 
    background: #FFFFFF;
    opacity: 0.3;
    border-radius: 50%;
    z-index: 5; 
    transition: 0.5s;
    border-bottom: 5px solid blue;
}

.indicator::before{
    content: ''; 
    position: absolute;
    top: 54px;
    right: 81px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px -20px #FFFFFF; 
    transform: rotate(4deg);    
}

.indicatorTrans::before{
    content: ''; 
    position: absolute;
    top: 54px;
    right: 81px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px -20px transparent; 
    transform: rotate(4deg);    
}


.indicator::after{
    content: ''; 
    position: absolute;
    top: 54px;
    left: 81px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px -20px #FFFFFF; 
    transform: rotate(-51deg);    
}

.indicatorTrans::after{
    content: ''; 
    position: absolute;
    top: 54px;
    left: 81px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px -20px transparent; 
    transform: rotate(-51deg);    
}


.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(87px);
    /* transform: translateX(6vw); */

}

.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(170px);
    /* transform: translateX(11vw); */


}

.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(260px);
    /* transform: translateX(17vw); */


}



.navbar .nav-logo{
    padding: 0;
}
.navbar .nav-logo li{
    display: inline;
    float: left;
    font-size: 20px;
}



.navbar .nav-links li{
    display: inline;
    /* border: 1px solid yellow; */
    float: right;
    font-size: 20px;
}
.navbar .nav-links li a {
    padding-left: 50px;
    /* border: 1px solid pink; */

}

/* .header-scroll {
    background-color: transparent;
} */

.header-scroll-border{
    border: 1px solid black;
}



.bubble-content{
    /* border: 5px solid rgb(27, 43, 27); */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    /* padding-top: 250px; */
    padding-top: 150px;
}

.profile-text{
    /* border: 1px solid black; */
    margin-right: 200px;
    /* margin-top: 100px; */
    border: 1px solid black;

}

.img-container{
    border: 1px solid black;
    width: 35%;
    /* min-width: 240px; */
}

.profile-img{
    width: 100%;
    min-width: 270px; 
}


.bio-desc1, .bio-desc2{
    font-family: 'Jost', sans-serif; 
    font-size: 35px;
    margin: 0;
    font-weight: 500;
}
.bio-desc2{
    font-size: 55px;
    font-weight: 700;
}

.bio-desc3{
    font-weight: 600;
    font-size: 20px;
}

.bio-desc3, .bio-desc4{
    font-family: "Open Sans", sans-serif; 
}

.about-me-background{
    width: 100%;
    position: relative;
}

.about-me-background::before{
    width: 100%;

    content: "";
    background-image: url('./img/flower4.jpg');
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;

}

.about-me-title{
    text-align: center;

}

.about-me-ctn{
    width: 1245px; 
    margin: 0 auto;
    /* text-align: center; */
    display: flex;
    opacity: 1;
}

.gif{
    position: relative;
}

.about-me-text{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}
.projectCtn{
    border: 1px solid black;
    text-align: center;
    width: 1245px; 
    margin: 0 auto;

}

/* .project-section{
    border: 1px solid black;
    text-align: center;
} */

.button{
    /* display: inline-block; */
    /* padding: 10px 18px; */
    /* margin-bottom: 10px; */
    background: #EEE;
    border: none;
    /* border-radius: 7px; */
    /* background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) ); */
    /* color: #222; */
    /* font-family: sans-serif; */
    font-size: 16px;
    /* text-shadow: 0 1px white; */
    cursor: pointer;
}

.profile-but{
    font-family: 'Poppins', sans-serif;
    position: relative; 
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg,#0162c8, #55e7fc); 
    overflow: hidden;
    transition: all 0.3s ease; 

}

.profile-but:hover{
    font-size: 22px;
    transition: all 0.3s ease; 
}

span-but{
    position: absolute;
    background: #FFFFFF; 
    transform: translate(-50%, -50%); 
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite; 
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%{
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}
/* .button:active,
.button.is-checked { 
  background-color: #28F;
} */

.button:focus {
    background-color:blue;
    color: white;
    text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

/* .button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
} */

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.skills-title{
    text-align: center;
}
.skills-ctn{
    border: 1px solid black;
    display: flex;
    flex-wrap:wrap;
}
.skills{
    flex: 0 0 25%;
    text-align: center;
}
/* .thecard{
    flex: 0 0 25%;
    text-align: center;
    width: 200px; 
    height: 200px;

} */
.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.skills img{
    width: 45%;
    /* width: 100px; */
    /* height: 100px; */
}

.maincontainer-ctn{
    display: flex;
    flex-wrap: wrap;
    
}

.maincontainer{
    position: relative;
    width: 200px;
    height: 150px;
    flex: 0 0 25%;
    text-align: center;
}

.maincontainer:hover > .thecard {
    transform: rotateY(180deg);
  }

.thecard{
    position: relative;
    transform-style: preserve-3d;
    top: 0;
    left: 0;
    transition: all 0.5s ease; 
    width: 100%;
    height: 100%;
    /* border: 1px solid pink; */
}

.thefront{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #333;
}

.thefront img{
    width: 45%;
    text-align: center;
}

.theback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #333;
    transform: rotateY(180deg);
    overflow: hidden;

}

.theback img{
    /* position: relative; */
    /* display: block; */
    width: 45%;
    text-align: center;
    opacity: 0.9;
}

.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-direction: column;
    transition: all 0.1s;
    border-radius: 10px;

}

.content p{
    color: white;
    background-color: black;
    opacity: 0.7;
    width: 75%;
    border-radius: 1px;
    font-size: 16px;
    font-weight: 900;
}

.thecard:hover{
    transform: rotateY(180deg);
}
/* .button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
} */

/* .button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; } */

/* ---- isotope ---- */
/* .gridCtn{
    border: 2px solid purple;
    width: 100%;
} */
.grid {
    border: 2px solid blue;
    width: 100%;
    /* max-width: 1241px; */
}

/* clear fix */
/* .grid:after {
  content: '';
  display: block;
  clear: both;
} */

.grid-item-ctn{
    position: absolute;
    border: 7px solid pink;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
}

/* ---- .element-item ---- */
.grid-item {
  /* position: relative; */
  float: center;
  padding: 2px 2px;
  width: 32%;
  height: 650px;
  border: 5px solid green;


}

.grid-img{
    width: 100%;
    /* width: 20%; */
    /* height: 400px; */

}
.project-box{
    display: block;
    background: url(img/Apple-Newsletter2.png) no-repeat;
    background-size: contain; 
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;


    /* position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    height: 100%; */

    /* background-size: cover; */
    /* height: 400px;
    width: 840px; */
}

.project-box:nth-child(2){
    border: 30px solid black;
    background-color: gold;

}

.project-box2{
    display: block;
    background: url(img/travel-promo3.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    /* height: 100%; */
    /* height: 100%;
    position: relative; */

    /* height: 750px; */
}

.project-box3{
    display: block;
    background: url(img/nba-email2.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    /* height: 100%; */
    /* height: 100%;
    position: relative; */

    /* height: 750px; */
}

.project-box .grey-bg {
    background: #efefef;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .project-box .grey-bg:hover {
    opacity: 0.9;
  }
  
  .project-box .grey-bg:hover .project-info .project-details {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    opacity: 1;
  }
  
  .project-box .grey-bg:hover .project-info .project-title {
    opacity: 1;
  }
  
  .project-box .grey-bg .project-info {
    padding: 56px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .project-box .grey-bg .project-info .project-details {
    position: relative;
    font-size: 1.1rem;
    text-transform: capitalize;
    margin: 0 0 1rem;
    -webkit-transform: translate3d(-200px, 0, 0);
            transform: translate3d(-200px, 0, 0);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
  }
  
  .project-box .grey-bg .project-info .project-title {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 7px;
    opacity: 0;
  }
  
  .project-box .grey-bg .project-info .fa-long-arrow-alt-right {
    position: absolute;
    bottom: 56px;
    right: 56px;
    font-size: 3rem;
  }



/* .grid-item > * {
  margin: 0;
  padding: 0;
} */

/* .grid-item .item-category {
  position: absolute;
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
} */




@media screen and (max-width: 1639px) {
    body {
        /* background: yellow; */

    }
    .content-area, .projectCtn{
        width: 75%;
    }
    /* .bubble::after{
        content: ''; 
        border-radius: 100% / 0 0 40% 40%; */
    /* .bubble::after{
        border-radius: none;
    } */
    .grid{
        padding-left: 15px; 
    }
    
    .grid-item {
        width: 32%;
        /* min-width: 267px; */
        margin: 2px;

    }

}


@media screen and (max-width: 1040px) {
    body {
        background: lightgreen;
    }
    .topWaves.spacer.layer1.bubble{
        width: 100%;

    }
    .bubble-content{
        width: 100%;
        /* padding-top: 100px; */
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .profile-text{
        margin: 0;
    }
    .img-container{
        border: 1px solid black;
        width: 35%;
        min-width: 270px;
    }

    .bubble::after{
        border-radius: 0;
    }
    .grid{
        padding: 0 0 0 2px; 
    }
    .grid-item {
        width: 49%;
        /* min-width: 267px; */
        border: 3px solid green;
    }
    .content-area{
        width: 100%;
    }
    .navigation{
        width: 100%;
    }
    .navigation ul li{
        width: 25%;
    }

    .navigation ul li:nth-child(1).active ~ .indicator{
        transform: translateX(8vw);
        /* transform: translateX(60%); */
    
    }

    .navigation ul li:nth-child(2).active ~ .indicator{
        transform: translateX(32vw);
    
    }
    
    .navigation ul li:nth-child(3).active ~ .indicator{
        transform: translateX(56vw);
    
    }
    
    .navigation ul li:nth-child(4).active ~ .indicator{
        transform: translateX(79vw);
    
    }

  }

  @media screen and (max-width: 767px) {
    body {
        background: orange;
    }
    .grid-item{
        width: 97%;
    }
    .projectCtn{
        width: 100%;
    }
    .navigation ul li:nth-child(1).active ~ .indicator{
        /* transform: translateX(2vw); */
        /* margin-left: 1%; */
    
    }

    .navigation ul li:nth-child(2).active ~ .indicator{
        /* transform: translateX(20vw); */
        /* transform: translateX(70%) */
        /* margin-left: 12%; */
    
    }
    
    .navigation ul li:nth-child(3).active ~ .indicator{
        /* transform: translateX(42vw); */
    
    }
    
    .navigation ul li:nth-child(4).active ~ .indicator{
        /* transform: translateX(62vw); */
    
    }
  }

  /* @media screen and (max-width: 337px) {
    .navigation ul li:nth-child(1).active ~ .indicator{

    
    }

    .navigation ul li:nth-child(2).active ~ .indicator{
        transform: translateX(20vw);
    
    }
    
    .navigation ul li:nth-child(3).active ~ .indicator{
        transform: translateX(42vw);
    
    }
    
    .navigation ul li:nth-child(4).active ~ .indicator{
        transform: translateX(65vw);
    
    }
  } */