* { box-sizing: border-box; }

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: black;
    /* background: #769FCD; */
    /* perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll; */
}

/* .section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
} */

/* ANIMATION CLASSES */ 

.hidden{
    opacity: 0;
    filter: blur(10px);
    transition: all 3s;
    /* transform: translateX(-100%); */
}

.left-to-right-hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateX(-100%);
}

.left-to-right-show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.right-to-left-hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateX(100%);
}

.right-to-left-show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.text-down-hidden{
    opacity:0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateY(100%);
    color: #f1564e; 
}

.text-down-show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.gifs:nth-child(1){
    transition-delay: 200ms;
}

.gifs:nth-child(2){
    transition-delay: 300ms;
}

.gifs:nth-child(3){
    transition-delay: 400ms;
}

/* .gifs:nth-child(3){
    transition-delay: 600ms;
} */

.show{
    opacity: 1;
    filter: blur(0);
    /* transform: translateX(0); */
}

/* END ANIMATION CLASSES */ 


.gif-h1{
    padding-top: 20px;
}


.spacer{
    aspect-ratio: 960/400;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1{
    background-image: url('./layered-waves-haikei (4).svg');
}
.layer2{
    background-image: url('./layered-waves-haikei (3).svg');
}

.bubble::after{
    content: ''; 
    border-radius: 100% / 0 0 40% 40%;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
    background-color: #D6E6F2;
    z-index: -1;

}

.topWaves{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
}

.content-area{
    /* border: 4px solid green; */
    width: 1245px; 
    /* width: 1651px; */
    /* background-image: url('./img/wave-png-49470.png'); */
}

.nav-header{
    width: 100%;
    /* border: 5px solid black; */
    display: flex;    
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.nav-logo{
    /* width: 30%; */
    /* justify-content: left; */
}

.nav-logo img{
    width: 250px;
}


.navigation{
    position: relative;
    width: 410px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #FFFFFF;
    /* position: fixed; */
    /* z-index: 5; */
    transition: all 0.5s;
    margin-top: 10px;
}

.navigationTrans{
    position: relative;
    width: 410px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: transparent;
    position: fixed;
    z-index: 1;
    transition: all 0.5s;
    outline: 1px solid #f1564e;
    /* border-bottom: none; */
    margin-top: 5px;
}

.icon ion-icon{
    z-index: 10;
    color: #f1564e;
    /* color: #5a8db5;  */

}

.navigation ul{
    display: flex;
    width: 100%;
}

.navigation ul li{
    list-style: none;
    position: relative;
    width: 90px;
    height: 60px;
    z-index: 10; 
}

.navigation ul li a {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    /* right: 8px; */
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    transition: 0.5s;
    color: #222327;
}

.navigation ul li.active a .icon{
    transform: translateY(32px); 
    color: #2196f3;
}

.navigation ul li a .text{
    position: absolute;
    /* background: #2196f3; */
    /* background: #769FCD;  */
    /* linear-gradient(90deg,#0162c8, #55e7fc);  */

    color: #f1564e;
    border: 1px solid #f1564e;
    padding: 2px 7px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 0.75em; 
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0; 
    transform: translateY(15px); 
    z-index: 10;

}

.navigation ul li a .text:hover{
    background: deepskyblue;
    color: white;
    border: 1px solid deepskyblue;
}

.navigation ul li.active a .text{
    transform: translateY(4px); 
    opacity: 1;

}

.indicator{
    position: absolute;
    top: 5px;
    width: 87px;
    height: 87px; 
    background: #FFFFFF;
    border-radius: 50%;
    transition: 0.5s;
}

.indicatorTrans{
    position: absolute;
    top: 5px;
    width: 87px;
    height: 87px; 
    background: #FFFFFF;
    opacity: 0.3;
    border-radius: 50%;
    z-index: 5; 
    transition: 0.5s;
    border-bottom: 5px solid #f1564e;
}

.indicator::before{
    content: ''; 
    position: absolute;
    top: 54px;
    right: 81px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px -20px #FFFFFF; 
    transform: rotate(4deg);    
}

.indicatorTrans::before{
    content: ''; 
    position: absolute;
    top: 54px;
    right: 81px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px -20px transparent; 
    transform: rotate(4deg);    
}


.indicator::after{
    content: ''; 
    position: absolute;
    top: 54px;
    left: 81px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px -20px #FFFFFF; 
    transform: rotate(-51deg);    
}

.indicatorTrans::after{
    content: ''; 
    position: absolute;
    top: 54px;
    left: 81px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 10px -20px transparent; 
    transform: rotate(-51deg);    
}


.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(87px);
    /* transform: translateX(6vw); */
}

.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(170px);
    /* transform: translateX(11vw); */
}

.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(260px);
    /* transform: translateX(17vw); */
}



.navbar .nav-logo{
    padding: 0;
}
.navbar .nav-logo li{
    display: inline;
    float: left;
    font-size: 20px;
}



.navbar .nav-links li{
    display: inline;
    /* border: 1px solid yellow; */
    float: right;
    font-size: 20px;
}
.navbar .nav-links li a {
    padding-left: 50px;
    /* border: 1px solid pink; */

}

/* .header-scroll {
    background-color: transparent;
} */

.header-scroll-border{
    /* border: 1px solid black; */
}



.bubble-content{
    /* border: 5px solid rgb(27, 43, 27); */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    /* padding-top: 250px; */
    padding-top: 150px;
}

.profile-text{
    /* border: 1px solid black; */
    margin-right: 200px;
    /* margin-top: 100px; */
    /* border: 1px solid black; */

}


.img-container{
    /* border: 1px solid black; */
    width: 35%;
    /* min-width: 240px; */
}

.profile-img{
    min-width: 270px; 
    /* object-fit: cover; */
    /* object-position: top; */
    border-radius: 100px;
}


.bio-desc1, .bio-desc2{
    font-family: 'Jost', sans-serif; 
    font-size: 35px;
    margin: 0;
    font-weight: 500;
}
.bio-desc2{
    font-size: 55px;
    font-weight: 700;
}

.bio-desc2 span{
    color: #f1564e;
}

.bio-desc3{
    font-weight: 600;
    font-size: 20px;
}

.bio-desc3, .bio-desc4{
    font-family: "Open Sans", sans-serif; 
}

.about-me-background{
    width: 100%;
    position: relative;
    text-align: center;
    /* width: 1245px;  */
    margin: 0 auto;    
    overflow: auto;
    margin-top: 300px;
}

.about-me-background::before{
    width: 100%;
    content: "";
    background: url('./img/flower4.jpg');
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}


.about-me-title{
    text-align: center;

}

.about-me-ctn{
    width: 1245px; 
    position: relative;
    overflow: auto;
    margin: 0 auto;
    padding: 30px 0;
    /* text-align: center; */
    /* display: flex; */
    opacity: 1;
    height: 400px;
    scroll-snap-type: y mandatory;
}
.about-me{
    scroll-snap-align: start;
    height: 400px;
}

.gif-props{
    text-align: center; 
    display: flex;
}

.gif{
    position: relative;
    width: 30%;
}

.gif img{
    width: 100%;
    height: 100%;
}

.dunking-gif{
}
.personal-gifs img{
    height: 300px;
}

.about-me-text{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    z-index: 10;
    font-weight: 600;
}

.personal-details{
    display: flex;
    flex-wrap: wrap;
}

.personal{
    padding: 0;
}

.email-location, .education-employment{
    width: 50%;
    flex: 0 0 auto;
    /* border: 1px solid black; */
    text-align: left;
    margin: 0;
}

.personal li{
    list-style: none;
    margin-bottom: 15px;
}

.personal-details .personal li h3{
    margin-bottom: 4px;
}

.personal-details .personal li p{
    font-weight: 400; 
}

.personal-details .personal li p, .personal li h3{
    margin: 0;
}



.projectCtn{
    text-align: center;
    width: 1245px; 
    margin: 0 auto;
    margin-top: 200px;

}

/* .project-section{
    border: 1px solid black;
    text-align: center;
} */

.button{
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px 20px 10px;
    padding: 5px;
    /* border-radius: 2px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    /* box-shadow: -15px -15px 15px 
                rgba(255, 255, 255, 0.2), 
                15px 15px 15px rgba(0, 0, 0, 0.1); */
    /* background: linear-gradient(90deg,#f1564e, #55e7fc);  */
    /* color: #FFFFFF; */
    /* background: deepskyblue; */
}

.profile-but{
    font-family: 'Poppins', sans-serif;
    position: relative; 
    display: inline-block;
    padding: 15px 36px;
    margin: 10px 0;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 5px;
    background: linear-gradient(90deg,#f1564e, #55e7fc); 
    overflow: hidden;
    transition: all 0.3s ease; 

}

.profile-but:hover{
    font-size: 22px;
    transition: all 0.3s ease; 
}

span-but{
    position: absolute;
    background: #FFFFFF; 
    transform: translate(-50%, -50%); 
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite; 
}

.btn{
    appearance: none;
    padding: 20px 30px;
    font-size: 24px;
    border-radius: 59px;
    border: 2px solid #f1564e     ;
    color: #f1564e;
    background-color: transparent;
    text-transform: uppercase;
    position: absolute; 
    cursor: pointer;
    overflow: hidden;
    font-weight: 500;

}

.btn:hover{
    color: #FFF;
    border: 2px solid #FFF;
    transition: 0.8s all;
}

.btn-paint{
    position: absolute;
    top: 0;
    left: 0;
    background-color: deepskyblue; 
    width: 88px;
    height: 120px;
    transition: transform 0.4s  ease;

}

.btn-label{
    position: relative;
}

.btn-paint:nth-child(1){
    transform-origin: 50% 0;
    transform: translate(-35px, -20px) rotate(-20deg) scale(1,0);
}

.btn-paint:nth-child(2){
    transform-origin: 50% 100%;
    transform: translate(21px, -20px) rotate(20deg) scale(1,0);
    transition-delay: 0.2s;
}

.btn-paint:nth-child(3){
    transform-origin: 50% 0%;
    transform: translate(81px, -20px) rotate(-20deg) scale(1,0);
    transition-delay: 0.4s;
}

.btn-paint:nth-child(4){
    transform-origin: 50% 100%;
    transform: translate(131px, -20px) rotate(20deg) scale(1,0);
    transition-delay: 0.7s;
}

.btn:hover > .btn-paint:nth-child(1){
    transform: translate(-35px, -20px) rotate(-20deg) scale(1,1);
}

.btn:hover > .btn-paint:nth-child(2){
    transform: translate(21px, -20px) rotate(20deg) scale(1,1);
}

.btn:hover > .btn-paint:nth-child(3){
    transform: translate(81px, -20px) rotate(-20deg) scale(1,1);
}

.btn:hover > .btn-paint:nth-child(4){
    transform: translate(131px, -20px) rotate(-20deg) scale(1,1);
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%{
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

/* .button:visited {
    color: blue;
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
} */

.button:hover {
    /* color: blue; */
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.507);
    border-radius: 7px;
}

.button:focus {
    color:blue;
}


/* .button:active {
    color: blue;
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
} */


/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}



.orange-paint-bg{
    /* background: url('img/bluepaint.png'); */
    position: absolute;
    margin-left: 900px;
    height: 400px;
}

/* .colorful-ctn{
    position: absolute;
}

.colorful-ctn img{
    position: absolute;
} */

.watercolor-ctn{
    position: relative;
}

.watercolor-ctn img{
    width: 500px;
    position: absolute;
    left: -200px;
    top: -200px;
    opacity: 0.8;

}

/* .orange-paint-bg img{
    height: 400px;
} */

.red-paint-bg{
    position: relative;
    opacity: 0.9;

}

.red-paint-bg img{
    position: absolute;
    width: 400px;
    right: 0;
    opacity: 0.9;

    /* transform: rotate(179deg); */
}

.red-bg{
    transform: rotate(179deg);
}

.yellow-bg{
    transform: rotate(13deg);
}

.skills-header{
    margin-top: 890px;
}

.skills-title{
    text-align: center;
    margin-top: 300px;
    color: #f1564e;
}

.skills-ctn{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap:wrap;
}
.skills{
    flex: 0 0 25%;
    text-align: center;
}
/* .thecard{
    flex: 0 0 25%;
    text-align: center;
    width: 200px; 
    height: 200px;

} */
.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.skills img{
    width: 45%;
    /* width: 100px; */
    /* height: 100px; */
}

.maincontainer-ctn{
    display: flex;
    flex-wrap: wrap;
}

.paint-bg{
    background: url('img/bluepaint.png');
    position: absolute;
    top: 0;
    right: 0;
}

.maincontainer{
    position: relative;
    width: 200px;
    height: 150px;
    flex: 0 0 25%;
    text-align: center;
}

.maincontainer:hover > .thecard {
    transform: rotateY(180deg);
  }

.thecard{
    position: relative;
    transform-style: preserve-3d;
    top: 0;
    left: 0;
    transition: all 0.5s ease; 
    width: 100%;
    height: 100%;
    /* border: 1px solid pink; */
}

.thefront{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #333;
    border-radius: 15px;
    padding-top: 5px;
    box-shadow: -15px -15px 15px 
                rgba(255, 255, 255, 0.2), 
                15px 15px 15px rgba(0, 0, 0, 0.1);
}

.thefront img{
    width: 45%;
    text-align: center;
}

.theback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #333;
    transform: rotateY(180deg);
    overflow: hidden;
    padding-top: 5px;
    box-shadow: -15px -15px 15px 
                rgba(255, 255, 255, 0.2), 
                15px 15px 15px rgba(0, 0, 0, 0.1);

}

.theback img{
    /* position: relative; */
    /* display: block; */
    width: 45%;
    text-align: center;
}

.salesforce-png{
    padding-top: 22px;
}

.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-direction: column;
    transition: all 0.1s;
    border-radius: 10px;
    opacity: 0.7;
}

.content p{
    color: white;
    background-color: black;
    width: 75%;
    border-radius: 1px;
    font-size: 16px;
    font-weight: 900;
    z-index: 10;
}

.thecard:hover{
    transform: rotateY(180deg);
}

.grid {
    border: 2px solid blue;
    width: 100%;
    /* max-width: 1241px; */
}

/* clear fix */
/* .grid:after {
  content: '';
  display: block;
  clear: both;
} */

.grid-item-ctn{
    position: absolute;
    border: 7px solid pink;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
}

/* ---- .element-item ---- */
.grid-item {
  /* position: relative; */
  float: center;
  padding: 2px 2px;
  width: 32%;
  height: 550px;
}

.grid-img{
    width: 100%;
    /* width: 20%; */
    /* height: 400px; */

}
.project-box{
    display: block;
    background: url(img/Apple-Newsletter2.png) no-repeat;
    background-size: contain; 
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.project-box:hover{
    -webkit-box-shadow: 0px 20px 74px 6px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 20px 74px 6px rgba(0,0,0,0.12);
    box-shadow: 0px 20px 74px 6px rgba(0,0,0,0.12);
}

.project-box2{
    display: block;
    background: url(img/travel-promo3.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.project-box2:hover{
    -webkit-box-shadow: 0px 20px 74px 6px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 20px 74px 6px rgba(0,0,0,0.12);
    box-shadow: 0px 20px 74px 6px rgba(0,0,0,0.12);
}

.project-box3{
    display: block;
    background: url(img/nba-email2.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.project-box3:hover{
    -webkit-box-shadow: 0px 20px 74px 6px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 20px 74px 6px rgba(0,0,0,0.12);
    box-shadow: 0px 20px 74px 6px rgba(0,0,0,0.12);
}

  .grey-bg{
    background: #efefef;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out; 
    overflow: hidden;
  }

  .grey-bg:hover{
    opacity: 0.9; 
  }

.fa-long-arrow-alt-right{
    transform: translate3d(10px, 0, 0); 
    opacity: 1;
}

  
  .project-box .grey-bg:hover .project-info .project-details {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    opacity: 1;
  }

  .project-box2 .grey-bg:hover .project-info .project-details {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    opacity: 1;
  }
  
  .project-box3 .grey-bg:hover .project-info .project-details {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    opacity: 1;
  }

  .project-box .grey-bg:hover .project-info .project-title {
    opacity: 1;
  }

  .project-box2 .grey-bg:hover .project-info .project-title {
    opacity: 1;
  }

  .project-box3 .grey-bg:hover .project-info .project-title {
    opacity: 1;
  }

  .project-title{
    width: 100%;
    color: #f1564e;
  }

  .project-box .grey-bg .project-info {
    padding: 56px;
    position: absolute;
    margin-top: 100px;
    width: 100%;
  }

  .project-box2 .grey-bg .project-info {
    padding: 56px;
    position: absolute;
    margin-top: 100px;
    width: 100%;
  }

  .project-box3 .grey-bg .project-info {
    padding: 56px;
    position: absolute;
    margin-top: 100px;
    width: 100%;
  }



  .project-details{
    position: relative;
    font-size: 1.1rem;
    text-transform: capitalize;
    margin: 0 0 1rem;
    transform: translate3d(-200px, 0, 0); 
    transition: all .3s ease-in-out;
    opacity: 0;
}

  
  /* .project-box .grey-bg .project-info .project-details {
    position: relative;
    font-size: 1.1rem;
    text-transform: capitalize;
    margin: 0 0 1rem;
    -webkit-transform: translate3d(-200px, 0, 0);
            transform: translate3d(-200px, 0, 0);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
  } */
  
  .project-box .grey-bg .project-info .project-title {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 7px;
    opacity: 0;
  }

  .project-box2 .grey-bg .project-info .project-title {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 7px;
    opacity: 0;
  }

  .project-box3 .grey-bg .project-info .project-title {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 7px;
    opacity: 0;
  }


.project-box .grey-bg:hover .project-info .fa-long-arrow-alt-right {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    opacity: 1;
    color: red;

  }

  .project-box2 .grey-bg:hover .project-info .fa-long-arrow-alt-right {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    opacity: 1;
    color: red;

  }

  .project-box3 .grey-bg:hover .project-info .fa-long-arrow-alt-right {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
    opacity: 1;
    color: red;

  }

  .project-box .grey-bg .project-info .fa-long-arrow-alt-right {
    position: absolute;
    bottom: 0;
    right: 56px;
    font-size: 3rem;
    -webkit-transform: translate3d(200px, 0, 0);
            transform: translate3d(200px, 0, 0);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
  }

  .project-box2 .grey-bg .project-info .fa-long-arrow-alt-right {
    position: absolute;
    bottom: 0;
    right: 56px;
    font-size: 3rem;
    -webkit-transform: translate3d(200px, 0, 0);
            transform: translate3d(200px, 0, 0);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
  }

  .project-box3 .grey-bg .project-info .fa-long-arrow-alt-right {
    position: absolute;
    bottom: 0;
    right: 56px;
    font-size: 3rem;
    -webkit-transform: translate3d(200px, 0, 0);
            transform: translate3d(200px, 0, 0);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
  }
  

@media screen and (max-width: 1639px) {
    body {
        /* background: yellow; */

    }
    .content-area, .projectCtn, .about-me-ctn{
        width: 75%;
    }
    /* .bubble::after{
        content: ''; 
        border-radius: 100% / 0 0 40% 40%; */
    /* .bubble::after{
        border-radius: none;
    } */
    .grid{
        padding-left: 15px; 
    }
    
    .grid-item {
        width: 32%;
        /* min-width: 267px; */
        margin: 2px;

    }

}


@media screen and (max-width: 1040px) {
    body {
        background: lightgreen;
    }
    .topWaves.spacer.layer1.bubble{
        width: 100%;

    }
    .bubble-content{
        width: 100%;
        /* padding-top: 100px; */
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .profile-text{
        margin: 0;
    }
    .img-container{
        border: 1px solid black;
        width: 35%;
        min-width: 270px;
    }

    /* .container3D{
        width: 100vw !important;
        height: 100vh !important;
        position: absolute; 
        top: 0;
        left: 0;
    } */

    .bubble::after{
        border-radius: 0;
    }
    .grid{
        padding: 0 0 0 2px; 
    }
    .grid-item {
        width: 49%;
        /* min-width: 267px; */
    }
    .content-area{
        width: 100%;
    }
    .navigation{
        width: 100%;
    }
    .navigation ul li{
        width: 25%;
    }

    .navigation ul li:nth-child(1).active ~ .indicator{
        transform: translateX(8vw);
        /* transform: translateX(60%); */
    
    }

    .navigation ul li:nth-child(2).active ~ .indicator{
        transform: translateX(32vw);
    
    }
    
    .navigation ul li:nth-child(3).active ~ .indicator{
        transform: translateX(56vw);
    
    }
    
    .navigation ul li:nth-child(4).active ~ .indicator{
        transform: translateX(79vw);
    
    }

  }

  @media screen and (max-width: 767px) {
    body {
        background: orange;
    }
    .grid-item{
        width: 97%;
    }
    .projectCtn{
        width: 100%;
    }
    .navigation ul li:nth-child(1).active ~ .indicator{
        /* transform: translateX(2vw); */
        /* margin-left: 1%; */
    
    }

    .navigation ul li:nth-child(2).active ~ .indicator{
        /* transform: translateX(20vw); */
        /* transform: translateX(70%) */
        /* margin-left: 12%; */
    
    }
    
    .navigation ul li:nth-child(3).active ~ .indicator{
        /* transform: translateX(42vw); */
    
    }
    
    .navigation ul li:nth-child(4).active ~ .indicator{
        /* transform: translateX(62vw); */
    
    }
  }

  /* @media screen and (max-width: 337px) {
    .navigation ul li:nth-child(1).active ~ .indicator{

    
    }

    .navigation ul li:nth-child(2).active ~ .indicator{
        transform: translateX(20vw);
    
    }
    
    .navigation ul li:nth-child(3).active ~ .indicator{
        transform: translateX(42vw);
    
    }
    
    .navigation ul li:nth-child(4).active ~ .indicator{
        transform: translateX(65vw);
    
    }
  } */